<nb-layout>
  <nb-layout-column class="grid" >
    <nb-card size="tiny" class="tiny" *ngFor="let item of items">
      <nb-card-header>Tiny card</nb-card-header>
    </nb-card>
  </nb-layout-column>
</nb-layout>