<!-- <nav>
  <ul class="left">
    <li>
      <a [routerLink]="['/comic']" routerLinkActive="active">Home</a>
    </li>
    <li>
      <a [routerLink]="['/movies']" routerLinkActive="active">Movies</a>
    </li>
    <li>
    <li>
      <a [routerLink]="['/notifications']" routerLinkActive="active">Notifications</a>
    </li>
  </ul>
</nav> -->
<nb-route-tabset [tabs]="tabs"></nb-route-tabset>
<!-- <router-outlet></router-outlet> -->